.btn-wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.btn{
    width: 20%;
    height: 10%;
    font-size: 20px;
   background-color: rgba(3,44,97,255);
   color: white;
   text-align: center;
   text-transform: uppercase;
   align-self: center;
   border-radius: 50px ;
   cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 3px 1px black;
}
.btn-text-two{
    display: none;
}